.App {
  text-align: center;
}
.Header {
  color: #ffffff00;
  font-family: "Star Jedi", arial;
  font-size: 6rem;
  -webkit-text-stroke: 3px goldenrod;
  border-radius: 50px 0;
  background-color: rgba(38, 32, 32, 0.742);
}
/* write your parent styles in here for your App.js */

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.character {
  display: flex;
  flex-direction: column;
  width: 500px;
  border: solid 1px goldenrod;
  background-color: rgba(0, 0, 0, 0.502);
  border-radius: 50px 0px;
  margin: 30px;
  background-image: url("./rvi.png");
  background-repeat: no-repeat;
  background-size: 200px;
}

h3 {
  color: #ffffff00;
  background-color: rgba(0, 0, 0, 0.653);
  border-radius: 50px 0;
  font-family: "Star Jedi", arial;
  font-size: 3rem;
  -webkit-text-stroke: 1px goldenrod;
}

p {
  color: white;
  background-color: rgba(0, 0, 0, 0.694);
  font-family: "Star Jedi", arial;
  border-radius: 50px 0;
  margin: 20px 100px;
  font-size: 1.5rem;
}
